version: "3.9"

services:
  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db;Database=DesafioSIEG;User=sa;Password=Sieg@1234!;TrustServerCertificate=True
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Sieg@1234!" # senha apenas pra teste
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
